body, html {
    height: 100%;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  #about-background {
    margin-top: 0;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../assets/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    overflow: auto;
  }
  
  .about-title {
    font-size: 5vw;
    margin-bottom: 0rem;
    top: 2vh; 
    padding: 2vh 0 0 2vh;
    width: fit-content;
    transition: 50vw 1s linear;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-style: italic;
    position: relative;
  }
  
  #about-title {
    margin-left: 50vh;
    margin-right: auto;
    width: 50%;
    top: 2vh;
  }

  .about-statement {
    font-size: 2vw;
    top: 1vh; 
    width: fit-content;
    transition: 50vw 1s linear;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-style: italic;
    position: relative;
  }
  
  #mission-statement {
    margin-left: 60vh;
    margin-right: auto;
    width: 50%;
  }
  
  
  .scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position:absolute;
  }
  
  .scroll-section {
    height: 100vh;
    scroll-snap-align: start;
  }
  
  
  @keyframes moveTitle {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
    100% {
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
    }
  }
  
  .box {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #00000077;
    width: 80%;
    margin: 15vh 2vh 2vh 17vh;
    padding: 4vh 4vh 4vh 4vh;
    border: 3px solid white;
    position: relative;
  }

  .inner {
    width: 40em;
    text-align: left;
    font-size: larger;
  }

  .MeetTheTeamContainer {
    width: 100%;
    position: absolute;
    top: 120vh;
  }
  #meet-the-team-title {
    font-size: 6vw;
    float: left;
    left: 2vw;
    margin-left: 2vw;
    width: fit-content;
    transition: 50vw 1s linear;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-style: italic;
  }
  #memeteam {
    width: 25vw;
    height: 20vw;
  }